.checkbox-wrapper {
    display: block;
    position: relative;
    cursor: pointer;
    user-select: none;
    /* data input checkbox */
    &:hover input ~ .checkmark {
        background-color: #ccc;
    }
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        &:checked ~ .checkmark {
            background-color: $infobip-color;
        }
    }
    /* custom checkbox */
    .checkmark {
        position: absolute;
        height: 25px;
        width: 25px;
        border-radius: .3rem;
        line-height: 3rem;
        right: 0rem;
        background-color: #eee;
        &:after {
            content: "";
            position: absolute;
            display: none;
        }
    }
}



/* Show the checkmark when checked */
.checkbox-wrapper input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-wrapper .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}